.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    height: 60vh;
}

.header {
    width: calc(100% - 20px);
    background: var(--blue-1);
    color: #fff;
    padding: 10px;
    height: 10%;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.main {
    width: calc(100% - 20px);
    background: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 90%;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 1080px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .main  {
        grid-template-columns: 1fr;
        border-radius: 0;
        width: 100%;
        top: 84px;
        position: absolute;
    }

    .header {
        justify-content: space-between;
        border-radius: 0;
        width: 100%;
        position: fixed;
    }
}